@model Razor.Models.Product

@{
    ViewBag.Title = "DemoExpression";
}

<h2>DemoExpression</h2>
<table>
    <thead>
        <tr><th>Property</th></tr>
    </thead>
    <tbody>
        <tr><td>Name</td><td>@Model.Name</td></tr>
        <tr><td>Price</td><td>@Model.Price</td></tr>
        <tr><td>Stock Level</td><td>
            @switch ((int)ViewBag.ProductCount)
            {
                case 0:
                    @:Out of stock
                    break;
                case 1:
                    <b>low stock (@ViewBag.ProductCount)</b>
                    break;
                default:
                    @ViewBag.ProductCount
                    break;
            }
            @ViewBag.ProductCount</td></tr>
    </tbody>
</table>
  Discount: <input type="checkbox"
                   checked="@ViewBag.ApplyDiscount" />
  Express: <input type="checkbox"
                     checked="@ViewBag.ExpressShip" />
  Supplier: <input type="checkbox"
                checked="@ViewBag.Supplier" />

