@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <title>RsvpForm</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center">
            <h4>RSVP</h4>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>Your name:</label>
                    <p>@Html.TextBoxFor(x => x.Name,new { @class = "form-control" })</p>
                    @*<p>Your Name: @Html.TextBoxFor(x => x.Name)</p>*@
                </div>
                <div class="form-group">
                    <label>Your Email:</label>
                    <p>@Html.TextBoxFor(x => x.Email, new { @class = "form-control" })</p>
                    @*<p>Your Email: @Html.TextBoxFor(x => x.Email)</p>*@
                </div>
                <div class="form-group">
                    <label>Your Phone:</label>
                    <p>@Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })</p>
                    @*<p>Your Phone: @Html.TextBoxFor(x => x.Phone)</p>*@
                </div>
               <div class="form-group">
                   Will Attend?
                   @Html.DropDownListFor(x => x.WillAttend, new[]
            {
                new SelectListItem(){Text= "Yes",Value = bool.TrueString},
                new SelectListItem(){Text= "No",Value = bool.FalseString}
            }, "Choose option", new { @class="form-control"})
               </div>
               <div class="text-center">
                   <input type="submit" class="btn btn-success" value="Submit RSVP" />
               </div>
              
            }
        </div>
    </div>
</body>
</html>
